.score {
  padding-left: 16px;
  padding-right: 16px;
  position: absolute;
  text-align: center;
  top: 290px;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 16px;
  border: none;
  font-size: 32px;
  color: white;
  left: 800px;
  background-color:#161a20;
}